version: "3.9"

services:
  app:
    build: .
    ports:
      - "8003:8000"
    env_file:
      - .env
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload --reload-dir app --reload-dir static --reload-dir templates
    volumes:
      - .:/app
      - media-data:/app/media

volumes:
  media-data:
